.mobile-nav-icon-admin-wrap {
    max-width: 600px;
  }
  
  .mobile-nav-icon-admin-wrap h1 {
    margin-bottom: 20px;
  }
  
  .mobile-nav-icon-admin-wrap .mobile-nav-icon-item {
    margin-bottom: 10px;
  }
  
  .mobile-nav-icon-admin-wrap .mobile-nav-icon-item label {
    display: inline-block;
    width: 80px;
    margin-right: 10px;
  }
  
  .mobile-nav-icon-admin-wrap .mobile-nav-icon-item select {
    width: 250px;
    margin-right: 10px;
  }
  
  .mobile-nav-icon-admin-wrap .mobile-nav-icon-item button {
    margin-right: 10px;
    vertical-align: top;
  }
  
  .mobile-nav-icon-admin-wrap .mobile-nav-icon-preview {
    margin-top: 20px;
  }
  
  .mobile-nav-icon-admin-wrap .mobile-nav-icon-preview i {
    font-size: 1.2em;
    margin-right: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #333;
    border-radius: 50%;
    vertical-align: middle;
  }
  